*{
  padding: 0;
  margin: 0;
}
:root{
  --width-aside:200px;
  --corlor-border:#800000;
}

/* Body */
body{
  width: 70%;
  margin: auto;
  box-sizing: border-box;

}
/* Header */
.header{
  display: flex;
  width: 100%;
  background: linear-gradient( 30deg,#f6bb73 0%, #ffffff 50%,#f6bb73 100%);
  border: 3px solid var(--corlor-border);
  box-sizing: border-box;
}
.shadow{
  text-shadow: 2px 2px 2px var(--corlor-border);
}
.imageheader{
  padding-left: 16px;
  padding-top: 16px;
}
.headingheader{
  padding-left: 24px;
  padding-top: 16px;
}
.header h2{
  color: var(--corlor-border);
}
/* Main */
.main{
  display: flex;
  width: 100%;
  border-left: 3px solid var(--corlor-border);
  border-right: 3px solid var(--corlor-border);
  box-sizing: border-box;
  }
.main h2{
  color: var(--corlor-border);
}
.main ul{
  padding-left: 24px;
  padding-top: 8px;
}
.main blockquote{
  font-style: italic;
  padding-left: 24px;
}
.aside{
  padding-top: 8px;
  padding-left: 16px;
  width: var(--width-aside);
}
.aside h2{
  padding-bottom: 8px;
}
.article{
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;

  width: calc(100% - var(--width-aside));
}
.flexarticle{
  display: flex;
}
.borderarticle{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  /* border-top: 2px solid var(--corlor-border);
  border-bottom: 2px solid var(--corlor-border); */
}
.article img{
  border: 1px solid #000000;
}



/* Footer */
.footer{
  background-color: var(--corlor-border);
  width: 100%;
  border: 3px solid var(--corlor-border);
  box-sizing: border-box;
}
.footer p{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 0px;  
}

/* Responsive */
@media screen and (max-width:768px){
/* Body */
  body{
      width: 100%;
  }
/* Header */
  .header{
      flex-direction: column;
      align-items: center;
  }
  .imageheader{
      padding-left: 0px;
  }
  .headingheader{
      padding-top: 0px;
      padding-left: 0px;
      text-align: center;
  }
/* Main */
  .main{
      flex-direction: column;
      margin: auto;
  }

  .aside{
      order:2;
  }
  .article{
      width: 100%;
      order: 1;
      margin-bottom: 2px;
      box-sizing: border-box;
  }
  .flexarticle{
     
      flex-direction: column;
      align-items: center;
  }
  .contentarticle{
      order: 1;
}
  .imageacticle{
  order: 2;
   }